<?xml version="1.0"?>
<appSettings>
  <add key="ClientId" value="[clientId for WebApi from https://account.live.com/developers/applications/index (eg: "f3fc5822-xxxx-xxxx-xxxx-xxxxxxxxx39)]" />
  <add key="AppKey" value="[appKey for WebApi from application registration. This is the application secret. (eg: "Xxxxxxxxxxxxxxxxxxxxxx%")]"/>
  <add key="ValidClientAudience" value="[clientId for the WebApp that will be calling this webapi (eg: 4fdd7882-xxxx-xxxx-xxxx-xxxxxxxxxx18]"/>
</appSettings>
