<?xml version="1.0"?>
<appSettings>
  <add key="ClientId" value="[clientId for WebApp from https://account.live.com/developers/applications/index]"/>
  <add key="AppKey" value="[appKey for WebApp from accounts page for this application (eg: ajXXXXXXXXXXXXXXXXXX14)"/>
  <add key="WebApiScope" value="[scope for your webapi from the WebApi application page (eg: api://f3xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxf739/access_as_user)]"/>
</appSettings>
